<div class="cookies">
  <div class="cookies__info-wrapper">
    <p class="cookies__info">
      Welcome to our website! We wanted to let you know that we utilize cookies
      to enhance your browsing experience. By clicking "Accept" or simply
      exploring our site, you're giving us the green light to use these
      delightful cookies.
      <span class="cookies__info--extra">
        They help us provide you with a personalized and smooth journey through
        our digital realm. So, grab a virtual cookie, sit back, and enjoy your
        time here!
      </span>
    </p>
    <button class="cookies__btn" id="accept-cookies">Accept</button>
  </div>
</div>
