<div id="details-modal" class="details-modal">
  <div class="details">
    <button id="close-modal" type="button" class="details__close">
      &times;
    </button>
    <div id="movieCover" class="details__cover"></div>
    <div class="details__content">
      <h2 id="movieTitle" class="details__title"></h2>
      <table>
        <tr class="details__info-wrapper">
          <th class="details__info--secoundary">Vote / Votes</th>
          <td id="movieVote" class="details__info--primary"></td>
        </tr>
        <tr class="details__info-wrapper">
          <th class="details__info--secoundary">Popularity</th>
          <td id="moviePopularity" class="details__info--primary"></td>
        </tr>
        <tr class="details__info-wrapper">
          <th class="details__info--secoundary">Original Title</th>
          <td id="movieOriginalTitle" class="details__info--primary"></td>
        </tr>
        <tr class="details__info-wrapper">
          <th class="details__info--secoundary">Genres</th>
          <td id="movieGenre" class="details__info--primary"></td>
        </tr>
      </table>
      <div class="details__about-wrapper">
        <p class="details__about-title">About</p>
        <p id="movieAbout" class="details__about-content"></p>
      </div>
      <div class="details__btn-wrapper">
        <div>
          <button type="button" class="details__btn" id="btn-addToWatch">
            add to<br />
            Watched
          </button>
        </div>
        <div>
          <button type="button" class="details__btn" id="btn-addToQueue">
            add to queue
          </button>
        </div>
      </div>
      <button
        type="button"
        id="btn-trailer"
        class="details__btn details__btn--trailer"
      >
        Watch trailer
      </button>
    </div>
  </div>
</div>
