<header class="header-main">
  <div class="container">
    <div class="header-logo-nav-container">
      <div class="header-logo-nav-container_logo">
        <a class="header-logo-nav-container_logo-icon" href="#">
          <svg width="24px" height="24px">
            <use href="/src/icons/icons.svg#logo-icon"></use>
          </svg>
        </a>
        <h1 class="header-logo-nav-container_title">Filmoteka</h1>
      </div>
      <nav>
        <ul class="header-logo-nav-container_nav">
          <li><a class="header-logo-nav-container_link" href="index.html"> HOME</a></li>
          <li><a class="header-logo-nav-container_link" href="library.html">MY LIBARY</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-main_search-container">
      <form class="header-main_search-form" id="search-form">
        <input
          class="header-main_input"
          type="text"
          placeholder="Movie search "
          id="search-input"
          name="searchInput"
        />
        <button class="header-main_search-btn" type="submit" id="search-button">
          <svg width="12px" height="12px">
            <use href="/src/icons/icons.svg#search-icon"></use>
          </svg>
        </button>
      </form>
    </div>
    <output class="header-main_message hidden" id="message">
      Search result not successful. Enter the correct movie name.
    </output>
  </div>
</header>
