<header class="header-my-library">
  <div class="container">
    <div class="header-logo-nav-container">
      <div class="header-logo-nav-container_logo">
        <a class="header-logo-nav-container_logo-icon" href="index.html">
          <svg width="24px" height="24px">
            <use href="/src/icons/icons.svg#logo-icon"></use>
          </svg>
          <h1 class="header-logo-nav-container_title">Filmoteka</h1>
        </a>
      </div>
      <nav>
        <ul class="header-logo-nav-container_nav">
          <li>
            <a class="header-logo-nav-container_link" href="index.html">
              HOME</a
            >
          </li>
          <li>
            <a class="header-logo-nav-container_link" href="library.html"
              >MY LIBARY</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-my-library_buttons">
      <button class="header-my-library_btn" type="button" id="btn-watched">
        WATCHED
      </button>
      <button class="header-my-library_btn" type="button" id="btn-queue">
        QUEUE
      </button>
    </div>
    <!-- <output class="header-main_message hidden" id="message">
      Search result not successful. Enter the correct movie name.
    </output> -->
  </div>
</header>
