<div class="form-container">
  <form id="login-form">
    <label for="email" class="form-container__label">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      class="form-container__input"
      value="gmail@gmail.com"
    />

    <label for="password" class="form-container__label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      class="form-container__input"
      value="1234567"
    />

    <div class="form-link-container">
      <button type="submit" class="form-container__submit">Log in</button>
      <a href="signup.html" class="form-container__link">
        Not have an account? Sign in</a
      >
    </div>
  </form>
</div>
