<div class="form-container">
  <form id="signup-form">
    <label for="name" class="form-container__label">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="form-container__input"
      value="arek"
    />

    <label for="email" class="form-container__label">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      class="form-container__input"
      value="gmail@gmail.com"
    />

    <label for="password" class="form-container__label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      class="form-container__input"
      value="1234567"
    />

    <div class="form-link-container">
      <button type="submit" class="form-container__submit">Sign Up</button>
    </div>
  </form>
</div>
