<div id="modal" class="backdrop is-hidden">
  <div class="modal-content">
    <div class="modal-btn--container">
      <button class="modal-btn">
        <svg class="modal-btn-icon" width="16" height="16">
          <use href="/src/icons/icons.svg#close-btn-icon"></use>
        </svg>
      </button>
    </div>
    <h1 class="team_header">Our team</h1>
    <ul class="team team_list">
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/student-placeholder.png"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Adam Kulik</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/adrian-wojtczak.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Adrian Wojtczak</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/agnieszka-iwan.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Agnieszka Iwan</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/arkadiusz-sroczyk.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Arkadiusz Sroczyk</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/student-placeholder.png"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Evgenij Prishchepov</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/iga-rys.jpeg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Iga Ryś</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/maciej-s.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Maciej S</b></h3>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>
