<div id="modal" class="backdrop is-hidden">
  <div class="modal-content">
    <div class="modal-btn--container">
      <button class="modal-btn">
        <svg class="modal-btn-icon" width="16" height="16">
          <use href="/src/icons/icons.svg#close-btn-icon"></use>
        </svg>
      </button>
    </div>
    <h1 class="team_header">Our team</h1>
    <ul class="team team_list">
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">
              Za dnia operator lasera(cnc), nocą miłośnik giełdy. Z powodu
              kontuzji kolana większość tego roku spędzam na korzystaniu z
              pięknej pogody i pisaniu jakiejś filmoteki, a w wolnym czasie
              zagram Wam na gitarze !
            </div>
            <img
              class="picture"
              src="/src/images/student-placeholder.png"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Adam Kulik</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/adrian-wojtczak.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Adrian Wojtczak</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">
              Podstarzała korpo-księgowa (34 lata) mama rezolutnego 7 latka i
              żona swojego męża. Kocham książki i ostatnio szaleję w swoim
              ogrodzie ;)
            </div>
            <img
              class="picture"
              src="/src/images/agnieszka-iwan.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Agnieszka Iwan</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">About us</div>
            <img
              class="picture"
              src="/src/images/arkadiusz-sroczyk.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Arkadiusz Sroczyk</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">
              Za niedługo student 19 letni młody, kocham tworzyć coś od początku
              do końca nie tylko programy ale również muzykę :D Fajnie sie z
              wami pracowało dzbany!
            </div>
            <img
              class="picture"
              src="/src/images/student-placeholder.png"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Evgenij Prishchepov</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content">
              Pozytywna, energiczna tancerka Teatru Studio Buffo (26 lat). Od
              paru lat montażystka telewizyjna. Lubię wyzwania i nie lubię nudy.
              Kocham podróżować i chłonąć inne kultury :)
            </div>
            <img
              class="picture"
              src="/src/images/iga-rys.jpeg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Iga Ryś</b></h3>
          </figcaption>
        </figure>
      </li>
      <li class="team__item">
        <figure class="box__image">
          <div class="overlay">
            <div class="img-content"></div>
            <img
              class="picture"
              src="/src/images/maciej-s.jpg"
              alt="team member photo"
              width="200px"
              height="200px"
            />
          </div>
          <figcaption>
            <h3 class="team_names"><b>Maciej S</b></h3>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>
