.footer {
  background-color: #f7f7f7;
  height: 100px;
  @include flex();
  color: #545454;
}
.container-footer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.footer__details {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  padding-inline: 2px;
  padding-block: 5px;
}
.students {
    text-decoration: underline;
    cursor: pointer;
    font-family: system-ui;
}
@media screen and (min-width: 768px) {
  .container-footer {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
}
