.header {
  padding-top: 40px;
  padding-bottom: 92px;
  width: 100%;
  background-size: cover;
  background-image: url(/src/images/header-home-mobile-background@1x.jpg);
  @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
    background-image: url(/src/images/header-home-mobile-background@2x.jpg);
  }
  &_container {
    max-width: 280px;
    gap: 115px;
    @include flex();
    margin: auto;
    padding-bottom: 56px;
    justify-content: space-between;
  }

  &_logo {
    @include flex();
    font-size: 0px;
  }

  &_logo-icon {
    display: block;
  }

  &_title {
    display: none;
    font-weight: 500;
  }

  &_nav {
    @include flex();
    width: fit-content;
    flex-direction: row;
    gap: 39px;
  }
  &_link {
    font-family: $font-primary;
    color: white;
    &:hover {
      border-bottom: solid 3px #ff001b;
    }
  }
  &_search-container {
    margin: auto;
    position: relative;
    width: fit-content;
    flex-direction: column;
  }
  &_search-form {
    display: contents;
  }
  &_input {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid white;
    width: 280px;
    &::placeholder {
      color: white;
    }
    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }
  &_search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  &_message {
    color: #ff001b;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: block;
    width: 280px;
    position: absolute;
    top: 154;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/images/header-home-tablet-background@1x.jpg);
    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
      background-image: url(/src/images/header-home-tablet-background@2x.jpg);
    }
    &_title {
      display: block;
      font-size: 30px;
    }
    &_container {
      max-width: 704px;
    }
    &_logo {
      gap: 10px;
    }
    &_message {
      width: fit-content;
      max-width: 708px;
    }
    &_input {
      min-width: 336px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/header-home-desktop-background@1x.jpg);
    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
      background-image: url(/src/images/header-home-desktop-background@2x.jpg);
    }
    &_container {
      max-width: 1214px;
    }
    &_input {
      min-width: 394px;
    }
  }
}
