@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-spinner {
  & svg {
    width: 60px;
    height: 60px;
    color: $color-brand;
    animation: rotate 1s infinite linear;
  }
}
