.covers-container {
  @extend .container;
  @include flex();
  flex-wrap: wrap;
  padding: 60px 20px;
  gap: 20px;
}

.cover__container {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  margin-top: 0px;
  width: 280px;
  position: relative;
  transition: $transitionDefault;

  &:hover {
    cursor: pointer;

    .cover__label {
      opacity: 1;
      margin: 0;
    }

    .cover__image {
      filter: brightness(60%);
    }
  }
}
.cover__image {
  width: 100%;
  border-radius: $border-radius;
  contain: content;
  transition: $transitionDefault;
}

.cover__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.4s ease;
  color: $color-primary;
}

.cover__image:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
  transition: $transitionDefault;
  transform: scale(1.02);
}
.cover__figcaption {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  padding-top: 10px;
  &-title {
    @media screen and (min-width: $breakpointDesktop) {
      line-height: 16px;
    }
  }
}
.cover__figcaption-title {
  color: black;
}
.cover__figcaption-movie-data {
  height: 33px;
}

.cover__figcaption-movie-data {
  color: #ff6b08;
  @media screen and (min-width: $breakpointDesktop) {
    line-height: 16px;
  }
}
@media screen and (min-width: breakpointTablet) {
  .covers__container {
    gap: 32px;
  }
  .cover__container {
    width: 336px !important; // nie dziala
  }
}
@media screen and (min-width: $breakpointDesktop) {
  .covers__container {
    gap: 16px;
  }

  .cover__container {
    width: 395px;
  }
}
